* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}
body {
font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
}
.logo {
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  width: 100%;
  font-size: 30px;
  color: rgb(7, 139, 255);
  font-weight: 800;
  cursor: pointer;
  margin: 30px;
  margin-left: 10%;
  
}


nav {
    margin-top: 56px;
    margin-left: 25%;
    width: 100%;
}


.topnav a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: bold;
}
.topnav a:hover {
  border-bottom: 3px solid rgb(250, 195, 42);
}
.topnav .icon{
    display: none;
}

@media screen and (max-width: 1010px) {
  .topnav a {
    display: none;
}

.topnav a.icon {
  float: right;
  margin-top: -17px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.topnav.responsive {
  position: relative;
  top: 50px;
  left: -200px;
}
 header .topnav.responsive {
     height: 340px;
 }

.topnav.responsive a.icon {
  position: absolute;
  right: -200px;
  top: -50px;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}


    
   
